body {
  background: #f4f4f4;
  * {
    font-family: "proxima-nova", sans-serif;
  }
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}

.header {
  padding: 24px 0;
  .logo {
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
    display: block;
  }
}

.card {
  padding: 12px;
  background: #fff;
  max-width: 800px;
  width: 90%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
  display: block;
  margin: 0 auto;

  .card__inner {
  }
}

.selectable-sentence {
  padding-bottom: 24px;
  p, select {
    display: inline-block;
    font-size: 20px;
    line-height: 1.5em;
  }

  select {
    font-weight: 700;
  }

  p {
    font-weight: 300;
  }
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 8px 48px;
  font-size: 12px;
  transform: translateX(-50%);
  color: #fff;
  background: #000000;
  border: 0;
  pointer-events: none;
}

.bar {
  fill: #d7d7d7;
  //transition: 0.1s all ease-in-out;
  &.highest, &:hover {
    fill: $ted;
  }
}

.canvas {
  position: relative;
}

.line {
  &:hover {
    stroke: $ted;
  }
}

