body {
  background: #fff;
  * {
    font-family: "proxima-nova", sans-serif;
  }
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}

.header {
  padding: 8px 0;
  background: #000;
  .logo {
    height: 48px;
    //width: 90%;
    //margin: 0 auto;
    display: block;
  }
}

.header-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.card {
  padding: 12px;
  //background: #fff;
  max-width: 1200px;
  width: 90%;
  //box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
  margin: 24px auto 0;
  display: flex;

  .card__inner {
  }
}

.selectable-sentence {
  align-self: center;
  margin-left: 24px;
  p, select {
    display: inline-block;
    font-size: 20px;
    line-height: 1.5em;
    color: #fff;
  }

  select {
    font-weight: 700;
  }

  p {
    font-weight: 300;
  }
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 8px 24px;
  font-size: 12px;
  transform: translateX(-50%);
  color: #fff;
  background: #000000;
  border: 0;
  pointer-events: none;
}

.bar {
  fill: #d7d7d7;
  //transition: 0.1s all ease-in-out;
  &.highest {
    fill: $ted;
  }

  &.current {
    fill: #000;
  }

  &:hover {
    fill: #000;
  }
}

.canvas {
  position: relative;
}

.container-sentiment {
  display: flex;

  .scale {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    justify-content: space-between;
    i {
      color: #9e9e9e;
    }
  }
}

.sentimentValue {
  .line-dot {
    fill: none;
  }

  &.selected {
    .line {
      stroke: $ted;
    }
  }


  &:hover {
    .line {
      stroke: #000;
    }
    .line-dot {
      fill: #000;
    }
  }
}

//.line {
//
//  &:hover {
//    stroke: #000;
//  }
//
//}


.node.selected {
  .circle {
    fill: #000 !important;
  }
}

.circle {
  &:hover {
    fill: #000 !important;
  }
}

.tag {
  font-weight: bold;
}

.tag-red {
  color: $ted;
}


